.box {
    width: 50px;
    height: 150px;
    margin: 10px;
    
}

#colors {
    background-color: yellow;
    transition: background-color 3s linear 1s;
}

#colors:hover {
    background-color: chartreuse;
}

#box1 {
    background-color: red;
    transition: width 3s ease-out;
    
}

#box1:hover {
    width: 300px;
}

#box2 {
    background-color: aqua;
    transition: height 1s linear;
}


#box2:hover {
    height: 300px;
}

#box3 {
    background-color: bisque;
    transition: width 2s ease-out, height 2s ease-out;
}
#box3:hover {
    height: 200px;
    width: 200px;
}